		.title img{
			width: 150px;
		}
		p
		{
		color: #6D6D6D;
		}
		.divs
		{
		width: 100%;
		border-bottom: thick dotted #DCDCDC;
		min-height: 100%;
		}
		@font-face 
		{
		 font-family:Playball;
		 src: url(fonts/Playball.ttf);
		}
        .rslides {
            position: relative;
            list-style: none;
            overflow: hidden;
            width: 100%;
            padding: 0;
            margin: 0;
        }

            .rslides li {
                -webkit-backface-visibility: hidden;
                position: absolute;
                display: none;
                width: 100%;
                left: 0;
                top: 0;
            }

                .rslides li:first-child {
                    position: relative;
                    display: block;
                    float: left;
                }

            .rslides img {
                display: block;
                height: auto;
                float: left;
                width: 100%;
                border: 0;
               
            }
			.title
			{
				  font-family: Playball;
				  font-size: 75px;
				  line-height: 100px;
				  color: #123;
			}
			.arrow
			{
			  width: 50px;
			  height: 50px;
			}
			#about .ltd
			{
				width: 50%;
				position: relative;
				top: 0px;
				left: 50%;
				float:left;
				transition:all 0.3s ease-in-out;
				opacity:0;
			}
			#about:hover .ltd
			{
				width: 50%;
				position: relative;
				top: 0px;
				left: 0px;
				float:left;
				transition:all 0.3s ease-in-out;
				opacity:1;
			}
			#about .ltd img
			{
				width: 100%;
			}
			#about .rtd
			{
				width: 50%;
				position: relative;
				top: 0px;
				left: 0%;
				float:left;
			}
			@media screen and (max-width: 650px) 
			{ 
				.serdiv
				{
					width: 80%;
					height: 450px;
					float: left;
					margin: 40px 10% 0 10%;
					border: 1px solid #0088dd;
				}
				#service
				{
					width:100%; 
					height:3140px;
				}
				#contact #cntld {
					width: 100%;
					float: left;
				}
				#contact
				{
					height: 900px;
				}
			}
			
			@media screen and (min-width: 768px) 
			{ 
			#wf
			{
			width: 250px;
			height: 100px;
			position: fixed;
			background-image: url('img/frame.png');
			}
			#wf a
			{
			margin-left: auto;
			margin-right: auto;
			width: 250px;
			font-size: 45px;
			}
			}
			@media screen and (min-width: 650px) 
			{ 
				.serdiv
				{
					width: 40%;
					height: 400px;
					float: left;
					margin: 40px 5% 0 5%;
					border: 1px solid #0088dd;
				}
				#service
				{
					width:100%; 
					height:1520px;
				}
				#contact #cntld {
					width: 100%;
					float: left;
				}
				#contact
				{
					height: 850px;
				}
			}
			@media screen and (min-width: 1050px) 
			{ 
				.serdiv
				{
					width: 23.33%;
					height: 400px;
					float: left;
				    margin: 40px 5% 0 5%;
					border: 1px solid #0088dd;
				}
				#service
				{
					width:100%; 
					height:1080px;
				}
				#contact #cntld {
					width: 50%;
					float: left;
				}
				#contact
				{
					height:600px;
				}
			}
			#service .ltd
			{
				width: 50%;
				position: relative;
				top: 0px;
				left: 0%;
				float: left;
				transition: all 0.3s ease-in-out;
				opacity: 0;
			}
			#service:hover .ltd
			{
				width: 50%;
				position: relative;
				top: 0px;
				left: 50%;
				float:left;
				transition:all 0.3s ease-in-out;
				opacity:1;
			}
			#service .ltd img
			{
				width: 100%;
			}
			#service .rtd
			{
				width: 50%;
				position: relative;
				top: 0px;
				right: 50%;
				float: left;
			}
			#our .ourimg
			{
			width:50%;
			float: left;
			}
			#our img
			{;
			width: 0%;
			float: left;
			margin: 0 50% 0 50%;
			transition:all 0.3s ease-in-out;
			}
			#our:hover img
			{   
			width:100%;
			float: left;
			margin:0%;
			transition:all 0.3s ease-in-out;
			}
			.space
			{
			width:100%;
			height:50px;
			}
			.serdiv h1 
			{
    text-align: center;
    font-size: 18px;
    margin-top: 0px;
    letter-spacing: -0.02em;
    word-spacing: 1px;
    color: #616161;
    text-rendering: optimizelegibility;
    font-family: inherit;
			}
			.serdiv p 
			{
				margin: 10px;
				text-align: justify;
			}
			.serdiv .logo
			{
	border: 1px solid #0088dd;
    background-color: #FFF;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    top: -25px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    text-align: center;
			}
	.logo img
	{
	margin:auto;
	width:80px;
	height:80px;
	}
	#aboutp
	{
	    text-align: center;
	}
	#contact #innrdiv
	{
	width: 95%;
    margin-left: auto;
    margin-right: auto;
	}
	#cntld input
	{
    width: 100%;
    height: 50px;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(236, 236, 236);
    font-size: 20px;
    margin: 5px;
    background-position: 5px 10px;
    background-repeat: no-repeat;
    padding-left: 50px;
	color: #A9A9B1;
	}
	#cntld textarea
	{
    width: 100%;
    height: 150px;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(236, 236, 236);
    font-size: 20px;
    margin: 5px;
    background-image: url('img/email.png');
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding-left: 50px;
	color: #A9A9B1;
	}
	#cntld label
	{
    width: 90%;
    height: 30px;
    border: 0px;
	font-size: 20px;
	}
	#cntld a
	{
    width: 90%;
    height: 30px;
    border: 0px;
	font-size: 20px;
	}
	#social
	{
	display:none;
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
	}
	#social img
	{
	width:25px;
	height:25px;
	}
	#social #socialdiv
	{
    top: calc( 50% - 100px );
    left: calc( 50% - 250px );
    position: fixed;
    z-index: 101;
    max-width: 500px;
    min-height: 200px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
	}
	.navbar-fixed-bottom, .navbar-fixed-top, .navbar-static-top 
	{
	    z-index: 99;
	}